# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Do not track the following files:
*.vtk
*.txt
*.png
*.jpeg

# Do not track the following directories:
build/
casos/
Build/
Casos/

# The following files and directories can be tracked:
!CMakeLists.txt
!logo-ixchel2d-a.png
!logo-ixchel2d-b.png
!.project-logos/
!.project-logos/**
